snippet sub "Procedure" b
Sub ${1:pname}(${2:args})
	${3:' codes}
End Sub
endsnippet

snippet func "Function" b
Function ${1:fname}(${2:args}) As ${3:String}
	${4:' codes}
End Sub
endsnippet

snippet dim "Define Variables"
Dim ${1:vname} As ${2:String}
endsnippet

snippet if "if condition" b
If ${1:condition} Then
	${2:' codes}
End If
endsnippet
